.plantsCatalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
  width: 100%;
}

.plantItem {
  flex: 1;
  min-width: 150px;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.plantImage {
  font-size: 5rem;
  margin: 0;
}

.plantName {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  align-self: flex-start;
  margin-left: 0.5rem;
}

.plantItem button {
  width: 90%;
  margin: 0;

  padding: 0.25rem;
  background-color: gainsboro;
  border: 1px gray groove;
}

.plantItem button:hover {
  cursor: pointer;
}
