@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
  font-family: Roboto;
  margin: 0 1rem;
}

main {
  display: flex;
  gap: 1rem;
}

.PlantSection {
  background-color: lightblue;
  flex: 3;
}

.CartSection {
  background-color: lightcoral;
  flex: 2;
}
